<!-- PRESENTACION -->
<section>
    <h2 class="text-center m-0 p-0 pt-4 pb-2">JUEGO: PREPARATE PARA CONTAR!</h2>
    <hr />

    <div>

        <p>
            Este es un juego para que los niños o niñas se diviertan contando <span class="fw-bold">vocales,
            consonantes, letras y silabas.</span><br />
            Al hacer click en "NUEVO JUEGO", comenzara el juego. Este estara formado por una pregunta, 4 opciones
            posibles y constara de 10 niveles. El jugador debe estar atento a lo que diga la pregunta y elegir una
            de las opciones.
            A Divertirse!!!
        </p>
    </div>

    <div class="text-center my-4">
        <button class="btn btn-success" >NUEVO JUEGO <i class="fa-solid fa-play"></i></button>
    </div>
</section>

<!--INICIO DE JUEGO -->
<section class="m-0 p-0 mb-4">
    <div  class="text-center">
        <img src="/assets/inicio.png" width="100%" alt="Pantalla Inicial">
    </div>

    <div >
        <div class="text-center mb-2 py-2 bg-warning border border-black fs-4">
            ¿Cuantas hay en la palabra: <span
                class="fw-bold">  </span>?
        </div>

       
        <!--
        <div class="row row-cols-sm-2 row-cols-1 text-center text-white fw-bold fs-4 mx-1">
            <div class="col bg_verde py-2 border border-black">
                Aciertos: 
            </div>

            <div class="col bg-danger py-2 border border-black">
                Errores: 
            </div>
        </div>
         </div>
        -->



